@import "./reset.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i,800&display=swap&subset=latin-ext');

.page {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
}

.title {
    padding: 5px;
}

.box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head {
    background-color: #5995DA;
}

.nav-menu {
    background-color: #B2D6FF;
}

.menu {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
}

.menu:hover {
    background-color: #FFF;
}

.content {
    background-color: #F09A9D;
    border-radius: 10px;
    margin-top: 10px;
    grid-gap: 20px;
}

.text {
    background-color: #E3C1C2;
    padding: 25px;
    border-radius: 10px;
    margin: 10px 5px 10px 5px;
}

.post-date {
    font-style: italic;
    margin-top: 10px;
}

.post-fig {
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 10px;
    padding-top: 5px;
}

.post-pic {
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
}

.main-link {
    text-decoration: underline;
    margin-left: 3px;
}

.footer {
    background-color: #F5CF8E;
    flex-direction: column;
    padding-top: 5px;
}

.social {
    padding: 5px;
    display: inline-block;
    list-style-type: none;
    width: 30px;
    height: 30px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    .head {
        height: 80px;
    }

    .nav-menu {
        height: 120px;
    }

    .menu {
        display: block;
        padding: 1px;
    }

    .content {
        min-height: calc(100vh - 200px);
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .head,
    .nav-menu {
        height: 80px;
    }

    .content {
        width: 100%;
        min-height: calc(100vh - 165px);
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    .head,
    .nav-menu {
        height: 100px;
    }

    .page {
        width: 960px;
        margin: 0 auto;
    }

    .content {
        min-height: calc(100vh - 293px);
    }
}